# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
base_template

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run_server
runs
run-data
run_forge

repo

local.properties